html { 
	background-color: #B2E0F0;
	font-family: Helvetica;
	color: #FCFFFF; /*This is the color for fonts*/
}
h1{
	font-size: 5rem;
	text-align: center;
}
p{
	font-size: 2rem;
	text-align: center;
}

